C:\Users\Markus\Documents\Programming\SNew\modeld\resource\2smalleknob.png	 PNG "C:\Users\Markus\Documents\Programming\SNew\modeld\resource\2smalleknob.png"C:\Users\Markus\Documents\Programming\SNew\modeld\resource\3smalleknob.png	 PNG "C:\Users\Markus\Documents\Programming\SNew\modeld\resource\3smalleknob.png"